[2022-10-17 06:11] david-plugge commented on #312
There is no a clean way to solve auth for multiple routes currently, but that´s on sveltekit´s side since its missing some sort of middleware.
You can however create a handle hook to secure multiple pages in one place.

Here we check for POST requests that go to a url starting with `/protected-route`
[code]

I think we can add this to the docs

[2022-10-17 06:53] MentalGear commented on #312
Excellent, thanks David!

Just curious why add `&& event.request.method === 'POST')`, without this, it would protect from any HTTP method, right?

Yes, please add this to the docs - it's a common scenario for many use cases.

[2022-10-17 07:51] MentalGear opened #317 "docs: outdated sveltekit setup guide in main supabase guide"
# Improve documentation

## Link
https://supabase.com/docs/guides/auth/auth-helpers/sveltekit

## Describe the problem
This is confusing new developers.

The official guide still has the outdated setup guide for auth-helpers sveltekit, which includes several unavailable functions and steps which are not necessary anymore, for example:

https://supabase.com/docs/guides/auth/auth-helpers/sveltekit#s

[2022-10-17 08:43] david-plugge commented on #312
Yeah, i just added it as an example.

The handle hook only exists on the server. If you want client side authentication you need to use the layout and page load functions to restrict access to pages.

[2022-10-17 18:08] devlukedreamstage opened #320 "NextJS middleware helper sends user to unauthorized route after reroute with signInWithOTP() is fired."
# **Bug report**
## **Describe the bug**
When I try to login with the signInWithOTP function and click on the magic link, the supabase/next middleware helper sends me to the unauthorized route even though I just authorized with the magic link. However, if I keep the cookies that were just stored then try to go to any protected routes or do signInWithOTP again, it works fine. Is there any way to wo

[2022-10-18 06:45] #273 closed

[2022-10-18 06:46] thorwebdev commented on #273
https://supabase.com/docs/guides/auth/auth-helpers/nextjs#usage-with-typescript

[2022-10-18 15:30] roker15 opened #321 "How does singing on client side makes user available on server side automatically in auth-helper?"
I see we get user server side in nextjs by
[code]
I want to know how user is automatically available here?

1. I never set **user** server side while signing client side.
2. Also i never used `onAuthStateChange` client side
3. I never set any supabase **cookies** in **req** object sent to next js API route

[2022-10-18 15:57] meera commented on #204
Documentation assumes that supabase-js is installed. Documentation need to be explicit to add this.

`yarn add @supabase/supabase-js
`

[2022-10-18 18:22] devlukedreamstage opened #322 "Logging in with signInWithOTP() and using withPageAuth in Next SSR reroutes me to the unauthed route"
# Bug report

## Describe the bug

When I log in with signInWithOTP(), I still get rerouted back to the unauthenticated route despite being authenticated from opening the magic login link. I can access pages just fine if I change the url my self.

It seems like the the withPageAuth is checking before auth data is cached

## To Reproduce

### Heres my code for ssr authentication

[code]

### Heres

[2022-10-18 18:23] #320 closed

[2022-10-19 12:41] wattsjs opened #323 "Missing "./server" export in "@supabase/auth-helpers-sveltekit" package"
# Bug report

## Describe the bug

When building there is an error with the new auth-helpers 2.0 release.

[code]

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

Dependancies:
"@supabase/auth-helpers-sveltekit": "^0.8.2",
"@supabase/supabase-js": "^2.0.0"

`yarn build` or `npm build`

## Expected behavior

Should build without issues

## System inf

[2022-10-20 03:21] secretgspot commented on #313
issue was because I was using localhost and not secured connection. cannot replicate on prod server.

[2022-10-20 03:21] #313 closed

[2022-10-20 07:36] dheerajsarwaiya opened #324 "Unable to get user information in Edge functions"
# Bug report

## Describe the bug
Edge function is not getting authenticated user information when used with auth-helpers.

Using following package
"@supabase/auth-helpers-sveltekit": "^0.8.2",
"@supabase/supabase-js": "^2.0.0",

Here are the steps to recreate
1. When user logs in at the frontend (SvelteKit)
2. Invokes an edge functions

[code]

4. Edge function get called.
5. Create supabaseClien

[2022-10-20 07:51] dheerajsarwaiya commented on #324
This solves the problem. :)
[code]

[2022-10-20 07:51] #324 closed

[2022-10-20 14:24] #289 closed

[2022-10-20 20:50] david-plugge commented on #323
Do you have any import that looks like `@supabase/auth-helpers-sveltekit/server` ?
If so please read the updated [docs](https://github.com/supabase/auth-helpers/blob/main/packages/sveltekit/README.md)

[2022-10-20 22:06] enesbala5 commented on #278
For me what worked was uninstalling the 2.0.3 version of supabase-js and installing 2.0.0

[2022-10-20 23:34] david-plugge commented on #278
The auth helpers are released for v2 now so there shouldn´t be an issue anymore.
l´ll close this issue now, feel free to open it again if you encounter any issues (or create a new issue)

[2022-10-20 23:34] #278 closed

[2022-10-21 02:37] wattsjs commented on #323
Bingo - thanks @david-plugge there was an import hidden in an used route from the previous version of auth-helpers

[2022-10-21 02:37] #323 closed

[2022-10-21 06:09] braden-w commented on #289
Have been unable to pass `Database` via `createClient<Database>(supabaseUrl, supabaseAnonKey)` like in v2, @CanRau  could you elaborate on how you were able to upgrade to v2?

So far, in order to use types on selects and updates, I've done the following in my `lib/db.ts` :

[code]

and use `supabaseClient` for most operations, and `supabaseFetchClient` for CRUD operations when I want types.

[2022-10-21 12:10] CanRau commented on #289
I'm still not using types that's how 🙈
First time I tried to run locally with the CLI I ran into some issues and didn't try again so far 😅

[2022-10-21 23:17] ChronSyn commented on #90
It seems that this issue is still happening.

I've only very recently tried to implement these auth helpers into a project, and I am so confused by what actually should work right now, what the correct combination of packages is.

[code]

**Package.json** - versions below are the latest at the time of writing
[code]

**Node**: 16.15.0

**middleware.ts**
[code]

To clarify, the error appears only i

[2022-10-22 07:12] CA-MKSingh commented on #207
Hey @vhpx , if you still require this then, I would like to work.

[2022-10-22 07:15] vhpx commented on #207
Sure, @thorwebdev. It is very much appreciated!

[2022-10-22 07:17] CA-MKSingh commented on #207
can you please assign it to me?

[2022-10-22 09:14] cnohara commented on #310
@f-gueguen I'm receiving this same issue despite my  `lin/db.ts` calling `import { createClient } from '@supabase/auth-helpers-sveltekit';`

I cannot find any instances of creating the client from supabase.

[2022-10-22 14:20] vhpx commented on #207
I'm not a member of the Supabase team, so I cannot assign this issue to you. However, you can just focus on working out the solution, and someone on the team will check it out and make the necessary changes.

[2022-10-22 23:36] VaughanG commented on #310
@cnohara I had that error despite correctly importing { createClient } from '@supabase/auth-helpers-sveltekit'.
What fixed it for me was adding _import '$lib/db'_; to hooks.client.ts and hooks.server.ts

[2022-10-24 03:41] jdgamble555 opened #328 "Doesn't work with V2"
When trying to install, I get this error:

[code]
J

[2022-10-24 05:58] Tihomir971 opened #329 "Typescript Support for auth-helpers-sveltekit"
# Feature request

createClient Database Types
https://supabase.com/docs/reference/javascript/typescript-support

[2022-10-24 10:45] ak4zh opened #330 "Export error in latest sveltekit-auth-helper"
[code]

[code]

[2022-10-24 13:26] ak4zh commented on #328
#331

[2022-10-24 13:33] david-plugge commented on #330
The old version used two different exports. You probably have an import @supabase/auth-helpers-sveltekit/server somewhere in your code that should be updated

[2022-10-24 14:37] NanoCode012 commented on #308
Sorry for my late follow up, I have written the code for `0.2.9`, but it should also be applicable to latest `main` branch also with some modification.

https://github.com/NanoCode012/supabase-auth-helpers/commit/93405a21a36f208f1589248dff7c74725d008a8c

Changes from `0.2.9`: https://github.com/supabase/auth-helpers/compare/%40supabase/auth-helpers-nextjs%400.2.9...NanoCode012:supabase-auth-helper

[2022-10-24 16:14] adolfoportilla opened #332 "Vercel Function timing out (504) when using withPageAuth."
# Bug report

## Describe the bug

When using withPageAuth, Vercel throws 504 (Serverless Function timeout error) after the user has signed in (using google OAuth) and is redirected to my page. The moment I remove withPageAuth, the page works as expected.

It is important to note as well that this works when I run the code locally.

This is the page that times out /admin.
[code]
This is the signin

[2022-10-24 22:25] adolfoportilla commented on #332
I was able to find more info.

Vercel is converting my page to be a Serverless function when I use `withPageAuth`. I am not sure if this is expected behavior or not.

For anyone interested, I was able to create a workaround by using a middleware approach (docs: https://supabase.com/docs/guides/auth/auth-helpers/nextjs#protecting-routes-with-nextjs-middleware) instead.

[2022-10-25 08:03] wiesson opened #334 "pnpm fails because @supabase/auth-helpers-sveltekit is bound to @supabase/supabase-js@2.0.0"
# Bug report

`@supabase/auth-helpers-sveltekit` requests `@supabase/supabase-js@2.0.0` but the most recent version is `2.0.4`.

## To Reproduce

[code]

It would be nice if the most recent version could be used or if we switch to `^2.0.0`

Update
It looks like there is already a PR https://github.com/supabase/auth-helpers/pull/327

[2022-10-25 10:32] #330 closed

[2022-10-25 12:29] wiesson commented on #334
Was fixed in https://github.com/supabase/auth-helpers/pull/327 👍

[2022-10-25 12:29] #334 closed

[2022-10-25 13:38] david-plugge commented on #328
Fixed in in the latest release `@supabase/auth-helpers-sveltekit@0.8.3`

[2022-10-25 13:38] #328 closed

[2022-10-25 13:45] david-plugge commented on #329
Have you taken a look at the typings section in the docs?
https://github.com/supabase/auth-helpers/blob/main/packages/sveltekit/README.md#typings

[2022-10-25 14:12] sorin89 opened #339 "Google oauth does not set cookie"
# Bug report

## Describe the bug

When using Google oauth, the `supabase-auth-token` cookie does not get set. From what I noticed, the `access_token` returned in the session object is much larger (about 3.4kb) than the ones for other auth methods, and the whole object goes over the 4kb limit for cookies.

## Expected behavior

Magic link auth or Github oauth works just fine, and Google auth shoul

[2022-10-25 15:23] david-plugge commented on #280
You can use `getSupabase(event)` now to get a supabase instance that is scoped to the current user

[code]

[2022-10-25 15:23] #280 closed

[2022-10-25 15:29] #231 closed

[2022-10-25 15:35] david-plugge commented on #218
I´m going to close this issue not for, feel free to reopen if this is still a problem using the latest release

[2022-10-25 19:39] wiesson opened #340 "Next 13 example (app/ Directory)"
# Feature request

Next 13 has been released https://nextjs.org/blog/next-13#layouts and a new app structure with data fetching has been introduced (currently in beta).

## Is your feature request related to a problem? Please describe.

I tried to adapt but I got errors on server side that the supabase client has problem with the polyfilled fetch provided by next.

## Describe the solution you'd l

[2022-10-26 03:02] oliver-tunebat opened #346 "Unable to SignOut after logging in with Spotify"
# Bug report

## Describe the bug

After logging in with Spotify, it seems impossible to logout. Even manually deleting the cookie doesn't work.

## To Reproduce

1. Log in with Spotify
[code]
2. Sign out
[code]
3. Refresh Page. Observe that getUser() still returns an authenticated user.

## Expected behavior

User should be logged out.

## System information

- OS: Windows
- Browser chrome
- "@su

[2022-10-26 04:17] thorwebdev commented on #340
@wiesson would you be able to provide your code and screenshots of the errors you were seeing? I'm working on an example now, but it would be helpful to understand how you approached this and what errors you experienced. Thanks.

[2022-10-26 04:21] wiesson commented on #340
[code]

Error

[code]

I tried to monkey-patch node-fetch to version 3.X but then I got ESM Import errors. What works (kind of)

[code]
I still get the error, but I also get data. I assume that server rendering fails but FE can fetch it

[2022-10-26 04:54] thorwebdev opened #341 "Next.js 13 support"
Next.js 13 drastically changes how data is being fetched and will require fundamental changes: https://beta.nextjs.org/docs/upgrade-guide

E.g. currently it isn't clear how to access what used to be `ctx.res` in getServerSideProps. This part is missing in the upgrade guide: https://beta.nextjs.org/docs/upgrade-guide#accessing-request-object

[2022-10-26 05:38] thorwebdev commented on #340
@wiesson this is working fine for me

[code]
With the following versions
[code]

What versions are you using?

[2022-10-26 05:57] thorwebdev commented on #340
Also note that you should not use `SUPABASE_SERVICE_KEY` client-side. It sounds like everything is being server-rendered now, so maybe it's fine, but I'm not yet entirely sure if the env vars might be exposed to the client or not.

[2022-10-26 06:04] wiesson commented on #340
It was just for testing purposes - I'm trying to find if it runs on the client or on the server. I still have the same issues as mentioned initially. Even if I directly copy your example:

[code]

node LTS (v16.18.0)
pnpm 7.14.0

[2022-10-26 06:49] thorwebdev commented on #340
@wiesson any chance your code is available on GitHub somewhere? I'm currently not able to reproduce this. You can find my code here: https://github.com/supabase/auth-helpers/pull/342/files

<img width="461" alt="image" src="https://user-images.githubusercontent.com/5748289/197953636-32edacf3-c6d3-47b0-9cb1-88408fc7cd76.png">

[2022-10-26 07:01] wiesson commented on #340
https://github.com/wiesson/supabase-next-13

[code]

I saw that you explicitly called your route "client-component" but I can't see a "use client" - how do you know that it will be only loaded client-side? I suspect that you won't have any fetch errors because supabase will use the native browser fetch instead 🤔

[2022-10-26 07:04] thorwebdev commented on #340
I'm missing it because the guide as well as your snippet above aren't using it https://beta.nextjs.org/docs/data-fetching/fetching#example-fetch-and-use-in-client-components. Refactoring now.

[2022-10-26 07:13] thorwebdev commented on #340
Based on https://beta.nextjs.org/docs/data-fetching/fetching#example-fetch-and-use-in-client-components it sounds like `fetch` and `use` should not be used in client components. So I'm not sure why they have the example there. I'll check with the vercel team.

It does work fine when adding `use client`, but it constantly refetches. I guess that's why it shouldn't be used client side and you should

[2022-10-26 07:57] thorwebdev commented on #340
@wiesson I'm able to reproduce the warning with your repo, but it should be safe to ignore as it's an optional dependency in `node-fetch` and supabase-js defaults to the global fetch object when there is one: https://github.com/supabase/supabase-js/blob/master/src/lib/fetch.ts#L9-L15

Therefore should be safe to ignore, but nonetheless, I've filed it here: https://github.com/supabase/supabase-js/i

[2022-10-26 08:23] wattsjs opened #343 "getServerSession SSR results in invalid refresh token"
# Bug report

## Describe the bug

When enabling SSR in SvelteKit and utilising the `getServerSession(event)` function to pull the session from the request cookies - there seems to be a race condition in which the server will refresh the token, and not pass the updated session to the client. This causes the client to attempt to refresh the session and receive an `invalid refresh token` response, w

[2022-10-26 08:47] #340 closed

[2022-10-26 09:37] david-plugge commented on #343
Can you share a minimal reproduction?

[2022-10-26 09:51] Mar0xy commented on #341
Seems like context was generally replaced in favor of the headers and cookies module as it stands now you can only read from both but according to Next.js they are planning on implementing a set function for cookies so you can set cookies.

"The Next.js team at Vercel is working on adding the ability to set cookies in addition to the cookies function. For now, if you need to set cookies, you can u

[2022-10-26 10:27] Murkrage commented on #341
I'm going to spend some time today to see if I can figure out a relatively straightforward way to get this working without too many drastic changes.

[2022-10-26 11:28] wattsjs commented on #343
Yes sorry I was working to reproduce this in a new project but here we go:

I can't get it to run in stackblitz because of cors rules I think. The only dependancy that I have added is the Houdini GraphQL client which I think _might_ be playing some part here but I am not certain.

https://stackblitz.com/edit/sveltejs-kit-template-default-3vlcnd?file=README.md
https://github.com/wattsjs/sveltejs-ki

[2022-10-26 12:26] #312 closed

[2022-10-26 13:38] david-plugge commented on #329
The helpers use the same library (@supabase/supabase-js) under the hood, therefore the types are the same.
You just need to reference your genereted types inside `src/app.d.ts`

For example:
[code]

[2022-10-26 15:29] david-plugge commented on #343
Okay this is actually pretty weird. The client does not call the sveltekit server to refresh the tokens therefore there must be an error on the client side. I´ll take a deeper look into this

[2022-10-26 16:14] Tihomir971 commented on #329
With this I don't get Types. All variables are of type Any. I don't have same problems with @supabase/supabase-js

[2022-10-26 16:21] Tihomir971 commented on #329
This is from supabase\examples\user-management\sveltekit-user-management
![Snimak ekrana 2022-10-26 182059](https://user-images.githubusercontent.com/72653027/198080762-3b39ecb3-0ae0-48ca-8d5d-0e640d2d9c27.jpg)

[2022-10-26 18:56] david-plugge commented on #329
What cli version are you using? We ran into the same problem because the types were generated with an older version.

[2022-10-26 20:48] Tihomir971 commented on #329
Not using CLI. I'm manually written  schema.ts. Just one table for test. I have problem with supabase example as I mention.
https://github.com/supabase/supabase/tree/master/examples/user-management/sveltekit-user-management

[2022-10-26 21:12] jensen commented on #341
I spent some time yesterday and a bit today. Was able to use the existing `withMiddlewareAuth` function directly.

[code]

In order to get access to a supabase client that is authenticated on the server, I am doing something like this:

[code]

Which I'm calling in my server component.

[code]

I don't expect this to be a long term solution, and it doesn't have the ability to set the cookies yet,

[2022-10-26 23:37] wattsjs commented on #343
The token refresh requests are using the correct refresh token on the client side (i.e. using the refresh token returned from the previous refresh request), so if the refresh token is no longer valid I am assuming that it must have been used (presumably on the server?)

I am getting `Possible abuse attempt` errors in my supabase logs so it seems like the token is definitely being used twice here

[2022-10-26 23:43] wattsjs commented on #343
I've redacted my IP address

[code]

[2022-10-27 03:36] thorwebdev commented on #341
Thanks @jensen I actually think pairing it with middleware is the right approach because the middleware can modify the response to refresh the session and update the cookie if needed: https://github.com/supabase/auth-helpers/blob/main/packages/nextjs/src/middleware/withMiddlewareAuth.ts#L65-L72

[2022-10-27 03:52] #262 closed

[2022-10-27 03:54] thorwebdev commented on #264
Can you try upgrading to the latest versions and see if that fixes it? Will close this out but please reopen if you're still experiencing this with the latest versions. Thanks.

[2022-10-27 03:54] #264 closed

[2022-10-27 04:42] jensen commented on #341
Yeah, I was thinking the same thing. The only issue I'm finding with that at this moment is passing that `supabase` instance to the server component isn't straight forward. Right now we have access to cookies and headers, but not a context like object passed from middleware.

I'd like to look at the middleware in more detail. We need access to the request, and the response in order to create the s

[2022-10-27 11:29] david-plugge commented on #329
I think that schema is outdated, the newer version includes `Views`.

See this [comment](https://github.com/supabase/supabase-js/commit/eff88f95ed18ef67ab5f8f333a3bbda1dd90dee2#commitcomment-84228347).

Try using the latest cli version to generate your types.

[2022-10-27 11:42] david-plugge commented on #343
I´ve found the cause, one instance of the supabaseClient on the server had `autoRefreshToken` enabled.

Thanks for reporting the issue!

[2022-10-27 12:12] wattsjs commented on #343
Awesome news thanks @david-plugge 🥳

[2022-10-27 20:01] jensen commented on #341
The withPageAuth API likely won't be as useful for server components as it is for the existing `getServerSideProps` API. I imagine a new hook could be used instead. Maybe named `usePageAuth`, but currently we cannot write the redirect headers from a server component.

We can currently only read cookies and headers from the request. This is documented by the vercel team at https://beta.nextjs.org/d

[2022-10-28 14:43] david-plugge commented on #329
@isaacfink https://github.com/supabase/auth-helpers/blob/main/packages/sveltekit/README.md#typings

[2022-10-28 14:51] Tihomir971 commented on #329
You can't use `<Database>` with createClient. It's for @supabase/supabase-js, not @supabase/auth-helpers-sveltekit. In my case it still not working.

[2022-10-28 16:19] olegkorol opened #348 "Next.js: Migration guide to 0.4.X"
# Improve documentation

## Link

[Next.js MIGRATION_GUIDE.md](https://github.com/supabase/auth-helpers/blob/main/packages/nextjs/MIGRATION_GUIDE.md)

## Describe the problem

There are some breaking changes that are not described in the migration guide.

## Describe the improvement

While it is hard to mention all the breaking changes in the docs, it would probably be helpful to mention at least

[2022-10-28 16:30] olegkorol commented on #346
How do you import / initialise `supabaseClient`?

A:
[code]

B:
[code]

C: ?

[2022-10-28 18:15] oliver-tunebat commented on #346
[code]

And then import it wherever it's being used.

[2022-10-28 18:43] olegkorol commented on #346
Could give `A` a try?

[2022-10-28 21:36] oliver-tunebat commented on #346
Looks like it was a different issue. The access token was in the url, so when logging out and then reloading the page with the access token url, it caused another login. So the solution is to clear the token from the url after logging in.

[2022-10-29 12:39] Murkrage commented on #341
I agree with @jensen that a new hook is probably the way to go. Looking at the [redirect example](https://beta.nextjs.org/docs/api-reference/redirect) on the new Next docs it seems like something along the following lines is gonna suffice:

[code]

This would be done on a page level and then the child components are protected by default. I believe then using middleware to handle refreshing the ses

[2022-10-29 13:41] lsbyerley commented on #57
Has anyone used an oath supabase login with the remix auth helpers? I'm only seeing an email/password login example in the root https://github.com/supabase/auth-helpers/blob/4a709e24445d17b5bafae00ea06f562f5e052fcc/examples/remix/app/root.tsx

[2022-10-29 16:07] jensen commented on #341
Just a heads up for anyone working on Next 13. I found out the hard way that leaving out a `pages` folder will prevent `middleware.ts` from loading. I had to add a `pages/.keep` file for now, and it works. I was going to add an issue, but found this one https://github.com/vercel/next.js/issues/41995 was already submitted.

[2022-10-29 16:35] rodzerjohn commented on #341
Can anyone provide with example how to implement `SessionContextProvider` with new `app` page structure?

[2022-10-29 16:53] jensen commented on #341
I posted an example repo in a message above.

[2022-10-29 18:02] Murkrage commented on #341
Currently the middleware is needed because there is no other way to modify the response of a request.

[2022-10-31 00:43] #343 closed

[2022-11-01 03:36] #339 closed

[2022-11-01 08:50] thorwebdev commented on #57
@lsbyerley I've added an OAuth example here: https://github.com/supabase/auth-helpers/pull/354/files

Thinking about changing the example to use the Auth UI. Would that be helpful?

[2022-11-01 08:51] #57 closed

[2022-11-01 10:32] The-Code-Monkey commented on #341
You have to implement it like normal the only thing thats different is that you have to put 'use client' at the top of the page that uses that component. as server components cannot use context. Which for me breaks every page as i use a Theme Context with styled components.

[2022-11-01 10:33] The-Code-Monkey commented on #341
Is there an example of how to use the middleware with Next 13 and auth-helpers anywhere @Murkrage

[2022-11-01 13:14] lsbyerley commented on #57
Awesome, thank you for the updated oauth example! I personally don't use the Auth UI components but I'm sure someone else out there would find it useful. I think having both would be perfect.

[2022-11-01 13:40] IHIutch commented on #57
I'd second keeping an example without Auth UI. I don't tend to use it either, so having an example without is useful for me too.

[2022-11-01 13:50] lsbyerley commented on #57
The new remix oauth example doesn't seem to be working for me. I see the access token in the url after auth and then the remix app does nothing with it.

[2022-11-01 14:18] thorwebdev commented on #57
@lsbyerley calling the auth methods in a server action wasn't the right approach unfortunately. I'm working on moving auth stuff to the client here: https://github.com/supabase/auth-helpers/pull/356 . It currently uses the Auth UI but I'll also add a plain JS example.

This approach will simplify things and save you money (server function invocations).

[2022-11-01 15:22] kentare commented on #341
@jensen provided one that works fine in my project: https://github.com/supabase/auth-helpers/issues/341#issuecomment-1292658432

Code: https://github.com/jensen/supabase-nextjs/blob/main/middleware.ts
[code]

[2022-11-01 15:28] The-Code-Monkey commented on #341
I have done this in mine. The app redirects to the login page but then when I fill in the form it submits the form the html way even though I've got e.preventDefault on it. If I move the login page back to pages it works but in app it doesn't. Super strange

[2022-11-01 15:36] kentare commented on #341
If it is an existing project, have you followed the upgrade guide? https://beta.nextjs.org/docs/upgrade-guide

[2022-11-01 15:39] The-Code-Monkey commented on #341
Yeah i've followed it all my pages and layouts are set up as 'use client' so nothing should have changed.

[2022-11-01 15:45] Afsarsoft opened #357 "Missing auth-helpers example for js-v2!"
Regarding supabase-js-v2, you don't have auth-helpers example for Vue. Can you create one for Vue?  It would be great if you use the latest “npm init vue@latest” .

Thank You,
Surush

[2022-11-01 17:11] The-Code-Monkey commented on #341
@kentare are you able to look and see if im doing anything wrong with my repo https://github.com/The-Code-Monkey/PaperCMS

[2022-11-02 03:30] nicolazj commented on #341
https://github.com/nicolazj/nextjs13 here's a working example with nextjs13

[2022-11-02 07:23] thorwebdev commented on #57
- Example with Auth UI: https://github.com/supabase/auth-helpers/blob/main/examples/remix/app/root.tsx#L116-L122
- Example with custom form: https://github.com/supabase/auth-helpers/blob/main/examples/remix/app/routes/no-auth-ui.tsx#L9-L22

[2022-11-02 09:33] mrmikardo opened #358 "isSecureEnvironment raises erroneous error pertaining to "host" header"
# Bug report

## Describe the bug

When attempting to use the server-side Supabase client, in a handler function wrapped in `withApiAuth`, I see the following error:

[code]

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Create a new NextJS project, set required Supabase environment variables as described [here](https://supabase.com/docs/guides

[2022-11-02 10:14] alesvaupotic opened #359 "Session data comes back encoded from auth-helpers-sveltekit when using OAuth with Google"
# Bug report

When using `signInWithOAuth` with `auth-helpers-sveltekit`, user data in session is encoded.

## Describe the bug

For example, the following login

[code]

returns a user
[code]

## To Reproduce

1. Clone the repo at https://github.com/alesvaupotic/sveltekit-user-management-encoding which is adapted from example
2. Fill `.env` with your credentials
3. Follow https://supabase.com/doc

[2022-11-02 12:30] lsbyerley commented on #57
Thank you! I'm still not sure I understand how to perform a `signInWithOAuth` authentication without the Auth UI as it seems you've switched back to `signInWithPassword`.

The earlier example you had for oauth signin did not do anything with the accessToken after coming back to the remix

[2022-11-02 16:20] thorwebdev commented on #57
@lsbyerley by following the `createBrowserClient` and `onAuthStatChange` handler setup in the root route (https://github.com/supabase/auth-helpers/blob/main/examples/remix/app/root.tsx#L80-L96) you can now use the standard javascript methods: https://supabase.com/docs/reference/javascript/auth-signinwithoauth

[code]

I've added it to the example: https://github.com/supabase/auth-helpers/pull/360

[2022-11-02 18:50] jopfre opened #361 "Protecting multiple routes with different authGuard.isPermitteds in nextjs middleware"
# Improve documentation

## Link

[Protecting routes with nextjs middleware](https://supabase.com/docs/guides/auth/auth-helpers/nextjs#protecting-routes-with-nextjs-middleware)

## Describe the problem

The documentation shows how to protect multiple routes with one authGuard.isPermitted(). It is unclear how to use a different isPermitted() for different routes.

Perhaps the method is to use the r

[2022-11-03 09:28] Mar0xy commented on #341
If this [PR](https://github.com/vercel/next.js/pull/42388) gets merged and put into canary for the next version of next.js I think it would then enable setting cookies everywhere.

[2022-11-03 10:56] thorwebdev commented on #361
Via https://github.com/supabase/auth-helpers/pull/364 this will become a lot more flexible.

[2022-11-03 11:00] thorwebdev commented on #357
I'm afraid vue isn't covered here. We only have these atm

- https://github.com/supabase/supabase/tree/master/examples/user-management/vue3-user-management
- https://github.com/supabase/supabase/tree/master/examples/user-management/nuxtjs-user-management
- https://github.com/supabase/supabase/tree/master/examples/user-management/nuxt3-user-management

[2022-11-03 11:00] #357 closed

[2022-11-03 11:03] thorwebdev commented on #346
This should happen automatically when the supabase browser client is initialised. I recommend doing that in the app root: https://github.com/supabase/auth-helpers/blob/main/examples/nextjs/pages/_app.tsx#L17-L19

[2022-11-03 11:03] #346 closed

[2022-11-03 11:04] thorwebdev commented on #332
I think https://github.com/supabase/auth-helpers/pull/364 should resolve this.

[2022-11-03 15:34] #358 closed

[2022-11-03 17:25] silentworks commented on #329
Both myself and @david-plugge have tested the types stuff and it works as expected. Please state what you have done with code examples and how you are expecting it to work and what is not working.

[2022-11-03 20:58] supastore commented on #359
@thorwebdev (or others) can i take a look at this one?

[2022-11-03 23:59] NanoCode012 commented on #308
I just saw a new PR https://github.com/supabase/auth-helpers/pull/364 which would solve this issue. Looking forward to it!

[2022-11-04 03:25] thorwebdev commented on #311
This has been added to the docs: https://supabase.com/docs/guides/auth/auth-helpers/nextjs#basic-setup

[2022-11-04 03:25] #311 closed

[2022-11-04 03:27] thorwebdev commented on #283
This has been resolved.

[2022-11-04 03:27] #283 closed

[2022-11-04 03:28] #281 closed

[2022-11-04 03:28] #279 closed

[2022-11-04 03:29] thorwebdev commented on #254
This will be enabled via https://github.com/supabase/auth-helpers/pull/364

[2022-11-04 03:31] thorwebdev commented on #236
Provider token is now persisted on the session object: https://github.com/supabase/auth-helpers/blob/main/examples/nextjs/pages/github-provider-token.tsx

[2022-11-04 03:31] #236 closed

[2022-11-04 03:33] thorwebdev commented on #220
This has been added to the `SessionContext` with the `initialSession` param: https://github.com/supabase/auth-helpers/blob/main/examples/nextjs/pages/_app.tsx#L24

[2022-11-04 03:33] #220 closed

[2022-11-04 03:34] thorwebdev commented on #207
This will be possible after https://github.com/supabase/auth-helpers/pull/364 is merged.

[2022-11-04 03:34] #171 closed

[2022-11-04 03:36] #165 closed

[2022-11-04 03:37] thorwebdev commented on #96
This will be enabled via https://github.com/supabase/auth-helpers/pull/364

[2022-11-04 04:44] roker15 commented on #321
Thanks, well explained

[2022-11-04 05:47] #96 closed

[2022-11-04 05:47] #207 closed

[2022-11-04 05:47] #254 closed

[2022-11-04 05:47] #308 closed

[2022-11-04 05:47] #332 closed

[2022-11-04 05:47] #361 closed

[2022-11-04 05:58] thorwebdev commented on #348
Thanks for pointing these out! This should be all covered now via

1. https://supabase.com/docs/reference/javascript/upgrade-guide
2. https://github.com/supabase/auth-helpers/blob/main/packages/nextjs/MIGRATION_GUIDE.md#migrating-to-05x

[2022-11-04 05:58] #348 closed

[2022-11-04 07:15] alesvaupotic commented on #359
Thanks for quick fix, @supastore!

[2022-11-04 07:29] #359 closed

[2022-11-04 11:09] david-plugge commented on #321
I think you are better of asking questions like this on the supabase discord server.

Feel free to close this issue if it´s resolved :)

[2022-11-04 11:16] david-plugge commented on #329
The sveltekit auth helpers export a custom `createClient` method that doesn´t make use of Generics.
Instead you can define your Database types in your `src/app.d.ts` file which makes the types globally available.
This is documented [here](https://github.com/supabase/auth-helpers/blob/main/packages/sveltekit/README.md#typings)
(replace `./DatabaseDefinitions` with the path to your Database types, m

[2022-11-04 13:47] isaacfink commented on #329
@david-plugge I see that I already had my types in `app.d.ts` but now it worked, thanks

[2022-11-05 10:02] Bruce9000 commented on #341
I couldn't get it working :(

I cloned the repo, did an npm install, put in an .env.local with my supabase url and anon_key, started the dev server.
Entered my username and password, hit sign in, was redirected to the Account page but the server shows "null from server" and the browser shows an alert with "Error loading user data!".
Am I missing a step somewhere for this to work?

[2022-11-05 16:03] NanoCode012 opened #370 "signOut does not clear session and useUser does not get latest until refresh once"
# Bug report

## Describe the bug

Hello, I am currently upgrading from v1 to v2 and noticed some weird behaviors with auth-helpers and Nextjs after the exciting `0.5.1` update!

I have followed the migration guide from both supabase and auth-helpers.

There are two weird behaviors:
- Once I login with email+password, `useUser` still returns null on my `/home` page **until I refresh** (waiting doe

[2022-11-05 19:31] vincentjflorio commented on #370
I had the same experience. In my case since a logout kicks people to the homepage, I ran a useEffect on the homepage to try to scrub all the cookies out.

It was *extremely* confusing trying to nail down a flow because I have conditions on sign-in/sign-up that depend on whether or not the user is logged in or not and try to go between accounts and it was still holding onto the original user.

[2022-11-05 23:10] xsmithdev commented on #341
@nicolazj I had success at first, but when moving from my Macbook to my Windows machine I keep getting "Cannot read properties of undefined (reading 'Provider')". Not sure if this is a windows issue however

[2022-11-05 23:17] xsmithdev commented on #341
From what I can tell, using supabase/ui fails with Next 13

[2022-11-06 00:56] arnu515 opened #371 "SvelteKit Docs are outdated"
# Improve documentation

## Link

https://supabase.com/docs/guides/auth/auth-helpers/sveltekit#server-side-data-fetching-with-rls

## Describe the problem

The `withAuth` method is no longer available in `@supabase/auth-helpers-sveltekit`

## Describe the improvement

Can you please update the docs with the newer method of server side fetching with RLS? I'm new to this library, and just noticed it

[2022-11-06 02:48] NanoCode012 commented on #370
@vincentjflorio , in my case, I can see the cookies being placed (on login) and removed (on signout), BUT the `user`/`session` on the browser `useSessionContext` and `useUser` still detects an inactive/active user and session respectively.

A shallow dive into the code shows it loading from the `useContext(SessionContext);`, so I'd guess that this Context is NOT being updated onLogin/onSignout and

[2022-11-06 05:46] NanoCode012 commented on #370
I tried listening for events inside `_app.tsx` and noticed `SIGNED_OUT` is not emitted and `found session` is sometimes returned.

[code]

[2022-11-06 09:24] Tihomir971 commented on #329
I find solution :( "pnpm rebuild"

[2022-11-06 13:39] AvidDabbler commented on #370
I am having the same issue. Signout seems to revoke the token, but user and session persist.

User is how I check to see if the user is logged in and redirect to my app if user is present.

I am also using withPageAuth which will sometimes create a loop between signIn and app.

Im curious as to what provider everyone is using. I have just been using magiclink and have had some problems with it. wo

[2022-11-06 16:40] NanoCode012 commented on #370
@AvidDabbler I'm using user/password, and beside from SessionContext not persist/clear properly, everything else works.

Currently, I have removed any primary use of `useUser`. I have changed to redirecting via serverside instead (middleware for Nextjs) as the `ServerSide` and `Middleware` client are more reliable.

[2022-11-06 17:01] AhmadSaman opened #372 "Updating `@supabase/auth-ui-react` in Next JS example"
# Chore
Updating `@supabase/auth-ui-react` package from `0.1.8` to `0.2.5`
## Describe the chore
When running the NEXT JS example it gives a warning in the console that says `Received false for a non-boolean attribute loading`, the `@supabase/auth-ui-react` package causes this warning, it is fixed in version `0.2.3` in the `@supabase/auth-ui-react` and I will create a PR for it and update the `@su

[2022-11-06 19:07] AvidDabbler commented on #370
Ok I took the morning to see what I could do for a workaround for this. I am currently using this as my `_app.tsx` for my next app. Basically I have taken the sessionToken from localStorage and moved it to my redux store and then listen for that on the frontend. The app still mostly relies on user and session from supabase hooks, but it prevents the loop for the moment of going from signin to my a

[2022-11-07 09:38] mrmikardo opened #374 "NextJS: types of ctx object passed to getServerSideProps are incorrect"
# Bug report

In NextJS server-side views wrapped in the `withPageAuth` helper, the function passed as the second argument (`async getServerSideProps(ctx, supabase)`) takes a `ctx` parameter which includes `.req` and `.res` attributes. However, these attributes don't play nicely with the `NextApiRequest` and `NextApiResponse` types that `getServerSideProps` props typically expects.

## To Reproduc

[2022-11-08 06:33] tiniscule commented on #322
This is impacting the newer syntax as well, where the helpers are removed and we're meant to build it up ourselves.  I'm wondering if we need to look for a `token` param and let it pass through, but that seems not great.

Here's an example I've got, it's mostly just copied out of the Next README.

[code]

[2022-11-08 07:47] Tihomir971 commented on #329
`const { data, error } = await supabaseClient
			.from('eav_attribute')
			.insert({ code, name })
			.select();`
data is of type any[]. insert is typed but select isn't?

[2022-11-08 08:02] david-plugge commented on #329
@Tihomir971 do you have a link to a reproduction?

[2022-11-08 08:10] Tihomir971 commented on #329
Github code>
[src/routes/(app)/catalog/attribute/create/+page.server.ts](https://github.com/Tihomir971/Assistant/blob/9dc0e1f86b00ccfc08b75dd1f4b828e6dee8fcd8/src/routes/(app)/catalog/attribute/create/+page.server.ts)

[2022-11-08 08:10] Tihomir971 commented on #329
Github code>
[src/routes/(app)/catalog/attribute/create/+page.server.ts](https://github.com/Tihomir971/Assistant/blob/9dc0e1f86b00ccfc08b75dd1f4b828e6dee8fcd8/src/routes/(app)/catalog/attribute/create/+page.server.ts)

[2022-11-08 08:16] david-plugge commented on #329
You are linking to a non existing file here https://github.com/Tihomir971/Assistant/blob/9dc0e1f86b00ccfc08b75dd1f4b828e6dee8fcd8/src/app.d.ts#L6
You need to go back a directory level

[code]

[2022-11-08 08:32] Tihomir971 commented on #329
Hawkeye :)

[2022-11-08 08:32] #329 closed

[2022-11-08 11:25] NanoCode012 commented on #374
To my understanding, those functions will be deprecated in the [next minor release (v0.6.X)](https://github.com/supabase/auth-helpers/blob/main/packages/nextjs/MIGRATION_GUIDE.md) due to the new update on middleware https://github.com/supabase/auth-helpers/commit/d8f7446b8661df02ef9ac8984ef972a766eb70db

[2022-11-08 11:39] mrmikardo commented on #374
@NanoCode012 thanks, [this](https://github.com/supabase/auth-helpers/commit/d8f7446b8661df02ef9ac8984ef972a766eb70db#diff-e65a46e4b1105213e24b784fb224ac187a64fcba3b827b9ebe93a9fc9d43c89aR31) in particular does look as if it fixes the typing issue 😃

[2022-11-08 11:39] #374 closed

[2022-11-08 19:56] jopfre opened #375 "useSupabase is not a function"
# Improve documentation

## Link

https://www.npmjs.com/package/@supabase/auth-helpers-nextjs

## Describe the problem

The docs for client-side data fetching with RLS say to:

[code]

and

[code]

Firstly, `useSupabase` isn't a function. Perhaps it should be` useSupabaseClient`.

Secondly, the docs say

however this is not what is shown in the example.

## Describe the improvement

If the intenti

[2022-11-08 20:02] cfowles commented on #371
@arnu515 Did you find the new method? I'm running into this issue now

[2022-11-08 20:09] cfowles commented on #371
It looks like the documentation is updated here: https://github.com/supabase/auth-helpers/tree/main/packages/sveltekit

I think the main issue is the site documentation (https://supabase.com/docs/guides/auth/auth-helpers/sveltekit) not being updated as it looks like is a separate issue.

[2022-11-09 06:07] thorwebdev commented on #375
Yes, sorry, it's `useSupabaseClient`. Updating now.

[2022-11-09 06:16] #375 closed

[2022-11-09 06:17] thorwebdev commented on #372
Thanks, updated.

[2022-11-09 06:17] #372 closed

[2022-11-09 06:24] thorwebdev commented on #370
Do you experience this when running locally or when deployed? Or both?

[2022-11-09 10:41] NanoCode012 commented on #370
I only got to test mine locally.

[2022-11-09 13:27] vincentjflorio commented on #370
For me it was both. My redirect  and site URL addresses in
https://app.supabase.com/project/_____________________________/auth/url-configuration appear to be fine, and work for every other  purpose, if it's relevant.

[2022-11-09 21:02] danielvanc commented on #287
I have this issue as well, with trying to sign in with Github, but in a Remix app. When oAuth returns, and I console log the session in the loader of the page it returns too, the session is null. But on the client, there is an authenticated user object.

[2022-11-10 00:07] hjaber commented on #341
Now that react & [next](https://beta.nextjs.org/docs/data-fetching/caching#per-request-caching) can cache fetched data, would it be possible to remove the context provider when using Nextjs 13 since the session can be natively cached? Is the context provider only caching the session?

This currently doesn't work, but something to the effect of:

[code]
[code]

[2022-11-10 03:05] jagnani73 opened #377 "Local User object not updating"
# Bug report

## Describe the bug

When logging in (creating a local session), a local user object is also instantiated with it, that is fetched via the `useUser` hook. In a case where
- I make the api call of `updateUser` that is update the users metadata, the local object does not get updated and still shows the previous metadata that was there at the time the user object was instantiated
- I re

[2022-11-10 19:10] cananda opened #378 "sveltekit: AuthApiError is not defined & Property 'status' does not exist on type 'AuthError'"
# Bug report

## Describe the bug

Discussed in https://github.com/supabase/supabase/discussions/10109

Originally posted by cananda November 5, 2022
I'm using all latest versions of sveltekit (535) and supabase-auth-helpers (0.8.6). Following the example here: https://github.com/supabase/auth-helpers/blob/main/packages/sveltekit/README.md

In this piece of code -
[code]

.. I get AuthApiError is

[2022-11-11 00:10] silentworks commented on #371
I've opened a PR to fix this https://github.com/supabase/supabase/pull/10229, this should be resolved soon.

[2022-11-11 00:31] arnu515 commented on #371
No, unfortunately. I just got `session` from the `getSupabase()` function and checked if it was null or not.

[2022-11-11 00:31] arnu515 commented on #371
Thanks!

[2022-11-11 21:04] silentworks commented on #378
The example is missing the part where it imports `AuthApiError`, you will need to import that into the file first. I'll get the README updated and the docs updated too.

[2022-11-12 09:54] ilyabo opened #379 "Usage example with Next.js edge functions"
# Improve documentation

## Describe the problem

There is no documentation for the use of auth helpers in edge functions. The [Edge Functions API](https://vercel.com/docs/concepts/functions/edge-functions/edge-functions-api#) is somewhat different, so it seems that `createServerSupabaseClient` from `@supabase/auth-helpers-nextjs` cannot be used directly.  I found an [example using a third-party l

[2022-11-12 21:18] silentworks commented on #371
Fixed.

[2022-11-12 21:18] #371 closed

[2022-11-12 23:08] silentworks commented on #378
Fixed in commit f1456ca

[2022-11-12 23:08] #378 closed

[2022-11-13 22:44] j4w8n commented on #370
@NanoCode012 @AvidDabbler @vincentjflorio @thorwebdev

Regarding the signOut, this seems to be a gotrue-js issue. I was able to resolve with a local code change, but wasn't confident enough to create a PR for it. Hopefully a maintainer can verify or not.

https://github.com/supabase/gotrue-js/issues/524

[2022-11-14 04:52] CesarGMEFA opened #381 "It tells me that a method that should exist is not a function."
# Bug report

## Describe the bug
I download the dependencies, perform the Basic Setup as indicated in the documentation: https://supabase.com/docs/guides/auth/auth-helpers/nextjs#install-the-nextjs-helper-library

And instantly I get "Unhandled Runtime Error
TypeError: supabaseClient.auth.getSession is not a function"

## Expected behavior
My intention is to apply what appears in the documentatio

[2022-11-14 05:22] thorwebdev commented on #381
If you're using the latest version of `@supabase/auth-helpers-react` you will need the following peerdependecy: https://github.com/supabase/auth-helpers/blob/main/packages/react/package.json#L37-L39

[code]

You can read about upgrading supabase-js here:
- https://supabase.com/docs/reference/javascript/upgrade-guide

[2022-11-14 05:22] #381 closed

[2022-11-14 05:24] thorwebdev commented on #379
@ilyabo you should be able to use the `createMiddlewareSupabaseClient`: https://supabase.com/docs/guides/auth/auth-helpers/nextjs#auth-with-nextjs-middleware

As middleware is always run on the edge: https://nextjs.org/docs/api-reference/edge-runtime

Which brings up a good point that we should likely rename `createMiddlewareSupabaseClient` to `createEdgeSupabaseClient`.

Thanks for flagging this!

[2022-11-14 13:49] mrmikardo commented on #370
I have also experienced this issue, both locally and in deployments.

[2022-11-14 14:04] mrmikardo commented on #370
@vincentjflorio

Did this hack fix the issue for you? Keen to find a way that I can continue to use the `0.5.1` library rather than downgrade.

[2022-11-14 14:15] NanoCode012 commented on #370
@mrmikardo , I changed all my redirection code to using Nextjs middleware instead of client-side. It works great for me.

[2022-11-15 06:30] thorwebdev commented on #341
With version `v0.5.2` we've added a `createServerComponentSupabaseClient` which can be used server components to get an authenticated Supabase client. [This is the PR](https://github.com/supabase/auth-helpers/pull/380) which includes an [example](https://github.com/supabase/auth-helpers/blob/main/examples/nextjs-server-components/app/required-session/page.tsx). Note that this needs to be used in c

[2022-11-15 12:58] trbtm opened #383 "Add support for injecting type definitions"
# Feature request

## Is your feature request related to a problem? Please describe.

Please adjust `createClient` so that is matches the functionality from `supabase-js` https://supabase.com/docs/reference/javascript/typescript-support#injecting-type-definitions

## Describe the solution you'd like

Parity between the two `createClient` functions.

## Describe alternatives you've considered

.

#

[2022-11-15 13:06] trbtm commented on #383
It seems like this feature is already implemented

https://supabase.com/docs/reference/javascript/typescript-support#injecting-type-definitions

[2022-11-15 13:06] #383 closed

[2022-11-16 00:28] silentworks commented on #370
Can someone provide a minimal reproducible example repo of this issue? as I'm not able to replicate it on this side.

[2022-11-16 00:37] vincentjflorio commented on #370
@mrmikardo It seems to, yeah. If nothing else it didn't noticeably hurt anything, for me.

[2022-11-16 14:56] Alexnortung opened #384 "[Next.js] Allow overwriting of client URL and key."
When using `createMiddlewareSupabaseClient` it is not possible to set api url and key. In the source code it seems like it takes it directly from the environment variables, which I think is fine for fallback.
However I would like to define my environment variables as I like and not be dependent on how library maintainers require my envrionment to be configured.

I suggest adding one or two paramen

[2022-11-16 16:27] angezanetti opened #385 "Cannot destructure property 'supabaseUrl' of 'getConfig(...)' as it is undefined."
# Bug report

## Describe the bug

I followed the [@supabase/auth-helpers-sveltekit](https://github.com/supabase/auth-helpers/tree/main/packages/sveltekit) guide on how to integrate supabase-auth helpers with sveltekit.

It works, but when I stop my server and start it again with `npm run dev` I got the error:

[code]

But I'm
## To Reproduce

Follow the guide, and restart your local server

## Ex

[2022-11-16 17:39] rodzerjohn commented on #341
How do i call inner nextjs api with session? `session` object in middleware returns `null`.

[2022-11-16 21:33] yinkakun commented on #341
Same for me too.

[2022-11-17 05:26] thorwebdev commented on #384
The main thought behind this is to prevent folks from accidentally supplying the wrong keys. E.g. with the auth helpers you would never want to use the `SERVICE_ROLE_KEY`. By requiring specifically named env vars we can effectively communicate that.

Can you provide some background on why this is problematic for you? We can consider allowing passing in of URL and key and documenting the anon key r

[2022-11-17 08:32] YugoCode commented on #196
Any updates?

[2022-11-17 15:00] Alexnortung commented on #384
What if I use another library that wants me to name the `SUPABASE_ANON_KEY` something else in the environment variables, then I would need to declare it twice. And that's the part I want to avoid.

I understand the idea of making sure the user doesn't accidentally supply the wrong key, but I don't think that is a good enough argument not to make an overloaded function where the user can supply the

[2022-11-17 20:59] walton-alex commented on #341
Is there an ETA on the docs at all?

[2022-11-17 23:28] dijonmusters commented on #341
Very strange. This should only happen if you are not signed in.

If you make your middleware something like this:

[code]

And call one of the Supabase auth methods client-side, for example:

[code]

Do you still get a null session?

[2022-11-17 23:29] dijonmusters commented on #341
Aiming to get these live today 👍

[2022-11-18 01:21] rphlmr commented on #321
Hello @thorwebdev

I read the code and something trigger me.
The cookie is not httpOnly (so, redable client side by any js script).
Is it not vulnerable to an XSS attack?

I know this is done to allow to share of auth session between the browser and the server.

I you work in Europe, I guess this is something that GDPR could complain about in case of stolen data :/

[2022-11-18 01:48] tiniscule commented on #341
Yes - it happens on the first load after an auth.  The session doesn't get hydrated until the client interacts with it once - then a reload will show you it in the middleware.  But the first middleware hit after authentication always returns a null session for me.

[2022-11-18 03:38] thorwebdev commented on #341
Unfortunately that's to be expected for Oauth (redirect) based methods. The tokens are communicated via query fragments which cannot be accessed on the server. Therefore the client needs to render first, at which point supabase-js picks up the URL query fragments an creates the auth cookie. Once that has happened (which currently needs to happen client-side) the session will be accessible server-s

[2022-11-18 06:14] dijonmusters commented on #341
Docs: https://github.com/supabase/supabase/pull/10396

[2022-11-18 06:18] jensen commented on #341
Not sure if this helps, but the way that I handle this is with an `/authenticated` route. https://github.com/jensen/supabase-nextjs/blob/main/app/(new)/authenticated/page.tsx

All it does is wait patiently for that session to be set. https://github.com/jensen/supabase-nextjs/blob/main/components/auth/check.tsx

I can tell the redirect to go to the `/authenticated` route using the supabase api. htt

[2022-11-18 10:43] hf commented on #321
Hi @rphlmr,

I'm on the Supabase Auth team and would like to provide some answers to your questions and concerns.

Yes, this is intended behavior. The client-side application is still an interactive application that can and should refresh a session as it's being used. It has to have read/write access to the cookies for this to work.

HTTP-Only cookies only work with static applications where there

[2022-11-18 13:42] rphlmr commented on #321
Thanks, @hf  for your detailed answer.

Before you released this package I built a solution to sync Remix session cookies with the browser's Supabase client (mostly to use real-time).
The idea was to get the session from the root loader and put it in a React Context (with an interval effect based on expires_in to trigger a Remix action and refresh the session).

I maintain a [Remix stack around Su

[2022-11-18 15:19] tiniscule commented on #341
I think a recommendation on how to handle this officially would make sense then - as it basically means auth will feel broken using the default implementation example.  I wonder if there's another way to recognizing the first hit after auth to let it through to the original return path

[2022-11-18 15:51] jensen commented on #341
I've spent dozens of hours working with Supabase auth, and I can't get around this with the hash based access token (when we are dealing with email confirmation or provide redirects). The only alternative I have tried was to alter GoTrue to send the tokens to my server route instead of redirecting to the client. This is why I have had to do what I showed above.

When working with Remix, I went so

[2022-11-19 11:15] rphlmr commented on #321
One more thing, cookies are vulnerable to XSS when they are not HttpOnly ;)

https://developer.mozilla.org/en-US/docs/Web/HTTP/Cookies#restrict_access_to_cookies

https://cheatsheetseries.owasp.org/cheatsheets/Session_Management_Cheat_Sheet.html#httponly-attribute

[2022-11-20 01:02] silentworks commented on #385
What version of the auth helper are your using? I can't replicate this issue in the latest version.

[2022-11-20 12:38] david-plugge commented on #385
My guess is that you forgot to import `$lib/db` inside both hooks files 'hooks.client.js' and `hooks.server.js`.
We probably want to throw an error with a better error message if we call `getConfig` internally but `createClient` wasnt called before.

[2022-11-20 12:50] david-plugge commented on #385
But i´m not able to reproduce the issue aswell.
The only thing i noticed is that i had to restart the dev server when i created `hooks.client.js` but that´s a sveltekit issue.

Could you share a reproduction?

[2022-11-21 18:01] rodzerjohn commented on #341
I forgot to mention that I'm trying to access `/api/hello` from server side component using fetch API. In this case `session` returns `null` in middleware. How do i work with auth in this case?

Navigating to `/api/hello` works fine.

[2022-11-22 06:40] NixBiks commented on #341
Wonderful docs @thorwebdev - especially going beyond and adding the data fetch + real-time updates pattern!

[2022-11-22 20:08] internetmilk commented on #377
It is a very annoying bug that we've also been dealing with. But we found if you call supabaseClient.auth.refreshSession() after updating the user, it corrects the data in the cookie and in the local session memory:

https://supabase.com/docs/reference/javascript/auth-refreshsession

[2022-11-23 05:00] thorwebdev commented on #377
This is expected. After updating the user object you would need to issue a new JWT e.g. by calling `refreshSession`. Since the JWT is signed by the Auth server.

In general you can't rely on the user data in the JWT to be up to date. The JWT is solely meant as an authentication mechanism. Therefore if you need guranteed up to date user data, you should call the `supabase.auth.getUser` instead.

[2022-11-23 10:35] Andarist opened #386 "Invalid `@supabase/auth-helpers-nextjs` exports layout/structure"
When bundling this package using Next.js it kinda works so perhaps this won't be a big issue for you. It works there because how webpack polyfills node things etc. So my educated guess is that webpack replaces `__dirname` with something. It could be related to other bundler-specific things (like some tree-shaking) though.

Ok, but what's the actual problem? This package can't be correctly bundled

[2022-11-23 17:36] GomaGoma676 opened #387 "Improve documentation"
When I use following script in page.tsx or layout.tsx of app folder in next 13, corresponding page behave as dynamic (revalidate 0) automatically, is it intended behavior ?
[code]

[2022-11-24 14:36] #387 closed

[2022-11-24 20:20] Metaphysics0 opened #388 "Getting "No API key found in request","hint":"No `apikey` request header or url param was found." when calling any SignInWithOAuth method"
# Bug report

## Describe the bug

Using auth-helpers with Next.js13 and server components the app directory, and receiving a `{"message":"No API key found in request","hint":"No `apikey` request header or url param was found."}` error whenever calling any signInWithOAuth method from the `supabaseBrowserClient`

For Google OAuth, I am able to enter the initial email selection OAuth screen, however

[2022-11-25 08:30] #388 closed

[2022-11-26 17:15] z33bs opened #390 "Debugging not possible with example: nextjs-server-components"
# Bug report

## Describe the bug
This example runs fine with `npm run dev`, but crashes when debugging on Webstorm or VsCode. The following error is copied from Webstorm.

TypeError: Cannot read properties of undefined (reading 'cookies') at cookies (webpack-internal:///(sc_server)/./node_modules/next/dist/client/components/headers.js:23:25) at getCookie (webpack-internal:///(sc_server)/./node_mo

[2022-11-26 21:46] quick007 opened #391 "Middleware Auth and Logins with redirectTo do not Jive Together"
# Bug report

## Describe the bug

If you have middleware auth set up (for example, I want all unauthenticated users to go to the login page), when users log in they'll still be taken to the login page despite a `redirectTo` option set. I'm assuming it can't grab their session for some reason.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Crea

[2022-11-28 19:35] david-plugge commented on #391
The oAuth provider redirects you back to `http://localhost:3000/settings`.
The url contains a hash with the required data (`http://localhost:3000/settings#token=the-actual-token`) to create a client session but the server is not able to read the url hash.
It is therefore necessary to redirect to a page that does not require authentication.

You could create another route `/callback` that does not

[2022-11-28 19:50] rodzerjohn commented on #379
Do I need to pass Authorization header with fetch API to use nextjs edge functions?

I found out that, calling nextjs edge function from server component with fetch API, middleware doesn't receives `req.cookies`.
Without cookies I can't create supabase client because it will always return session `null`.

Server component code in `app` directory:
[code]

[2022-11-29 00:11] Darkness-2 opened #392 "Docs improvement suggestions for SvelteKit"
# Improve documentation

As I was trying to wrap my head around using this for auth in SvelteKit both server and client-side, I got a bit confused at a few things I wanted to point out.

## Links

https://github.com/supabase/auth-helpers/blob/main/packages/sveltekit/README.md
https://supabase.com/docs/guides/auth/auth-helpers/sveltekit

## Use of both +layout.ts and +layout.server.ts

In the docum

[2022-11-29 02:06] quick007 commented on #391
Thanks for the info. Under "Additional Context," I shared a similar solution. Hopefully the team will be able to get auth working without client side scripts though!

[2022-11-30 00:25] noskovvkirill commented on #341
Having a trouble implementing it without redirect — i.e with phone based sign up. Page needs to be hard refreshed before user is authenticated. I set cookies manually and check them in middleware — it works for the server, but Supabase server client doesn't seem to catch it.
**Middleware:**
[code]
And the page with the workaround
[code]

[2022-11-30 02:41] hjaber commented on #341
I have a similar issue relating to middleware rather than the server.

When following the official docs for auth helpers on server components/app directory, the supabase server client immediately updates based on the session cookies and functions appropriately.

But the middleware is out of sync with auth and requires the page to be refreshed before correctly identifying the current session.

As t

[2022-11-30 05:16] tiniscule commented on #341
It's not really an "issue" on either side unfortunately - a design decision on the supabase side makes it impossible to detect the authenticated state prior to the client side page load.  The server never sees the hash params, so it has no ability to handle the authentication.  I took a stab at handling this here: https://usebasejump.com/blog/supabase-oauth-with-nextjs-middleware

[2022-11-30 10:54] noskovvkirill commented on #341
@tiniscule interesting, now I understand the issue better. Thanks for sharing!

[2022-11-30 11:03] hjaber commented on #341
I thought this was only true for Oauth (redirect) based methods?

I'm using `signInWithPassword()` and still unable to utilize middleware without a refresh while using the auth helpers server components/app implementation.

[2022-11-30 14:37] david-plugge commented on #392
It actually is an addition! Maybe we need to clarify it a bit more.
The server load is used on the first request, then the shared load takes over. This makes sure we dont call the server every time we go to a different page.
The server load is necessary at the moment as we need to pass the session to the shared load functions and the ui.

Both ways are valid and it´s up to the user to decide which